<div class="row">
  <div class="col-lg-6 offset-lg-6">
    <div class="card-block">
      <img class="mx-auto d-block" src="../../assets/logo.png" >
      <h1 class="text-center">Register</h1>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Submit" >
      </form>
    </div>
  </div>
</div>
