<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit-client/' + id]" class="btn btn-secondary">
        Edit
      </a>
      <button class="btn btn-danger" type="button" (click)="onDeleteClick()" >
        Delete
      </button>
    </div>
  </div>
</div>
<hr>
<div class="card" *ngIf="client">
  <div class="card-header">
    <h4>{{ client.firstName }} {{ client.lastName }}</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>Client ID: {{ id }}</h4>
      </div>
      <div class="col-md-4">
        <h3 class="pull-right">
          Balance:
          <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance">
            {{ client.balance | currency:"GBP":true }}
          </span>
          <small>
            <a (click)="showBalanceUpdateInput = !showBalanceUpdateInput" >
              <i class="fa fa-pencil"></i>
            </a>
          </small>
        </h3>
        <div class="clearfix">
          <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)" class="form-inline pull-right" >
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="client.balance" name="balance">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        Contact Email: {{ client.email }}
      </li>
      <li class="list-group-item">
        Contact Phone: {{ client.phone }}
      </li>
    </ul>
  </div>
</div>
